<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Count!</title>
  <meta name="description" content="Count Anything">
  <meta name="author" content="Count all the things!">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="<%= url("/css/normalize.css")%>">
  <link rel="stylesheet" href="<%= url("/css/skeleton.css")%>">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns">

        <h1>The Count!</h1>
        Your URL: <%= url("/#{params['key']}")%>
        <p>
          Total Count: <%= params['current_count'] %>
          Last Entry: <%= params['item_count'] %>

          <form action="<%= url("/#{params['key']}")%>" method="post">
            <label for="item_count">Enter Count: </label>
            <input class="u-pull-left" placeholder="#" id="item_count" type="text" pattern="\d*" name="item_count">
            <input class="button-primary u-pull-left" value="Submit" type="submit">
          </form>
        </p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
